@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order

<h2>Order Confirmation</h2>

<p>Order Date: @Model.OrderDate</p>
<p>Order ID: @Model.OrderId</p>

<table>
    <tr>
        <th>Book Title</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach(var detail in Model.OrderDetails)
    {
        <tr>
            <td>@detail.Book.Title</td>
            <td>@detail.Quantity</td>
            <td>@detail.Price</td>
        </tr>
    }
</table>