@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order

<h2>Order Confirmation</h2>

<p>Order Date: @Model.OrderDate</p>
<p>Order ID: @Model.OrderId</p>

<table>
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            <tr>
                <td>@detail.Book.Title</td>
                <td>@detail.Quantity</td>
                <td>@detail.Price.ToString("C2")</td>
            </tr>
        }
    </tbody>

</table>

<a asp-action="ListBook" asp-controller="Book" class="btn btn-primary">Return to Books</a>
<a asp-action="PriorOrders" asp-controller="Cart" class="btn btn-primary">Prior Orders</a>