@model BookDetailsViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>This is the details page</p>

<h2>Details</h2>
<div>
    <p><strong>Title:</strong> @Model.Book.Title</p>
    <p><strong>Author:</strong> @Model.Book.Author</p>
    <p>
        @if (!string.IsNullOrEmpty(Model.Book.BookCover))
        {
            <img src="~/images/@Model.Book.BookCover" style="width: 100px; height: auto;" />
        }
    </p>
    <p><strong>Language:</strong> @Model.Book.Language.LanguageName</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p><strong>Book Status:</strong> @Model.UserStatus</p>
    }

    <p><strong>Published Date:</strong> @Model.Book.PublishedDate.ToString("MMMM dd, yyyy")</p>
    <p><strong>Price:</strong> @Model.Book.Price.ToString("C2")</p>
</div>

<div>
    <p><strong>Description:</strong> @Model.Book.BookDescription</p>
    
</div>
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="BookStatus" asp-controller="Book" class="btn btn-primary" asp-route-id="@Model.Book.BookId">Alter Book Status</a>
}

<a asp-action="ListBook" asp-controller="Book" class="btn btn-primary">Back to List</a>