@model Book

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>This is the details page</p>

<h2>Details</h2>
<div>
    <p><strong>Title:</strong> @Model.Title</p>
    <p><strong>Author:</strong> @Model.Author</p>
    <p>
        @if (!string.IsNullOrEmpty(Model.BookCover))
        {
            <img src="@Model.BookCover" style="width: 100px; height: auto;" />
        }
    </p>
    <p><strong>Language:</strong></p>
    <p><strong>Published Date:</strong> @Model.PublishedDate.ToString("MMMM dd, yyyy")</p>
    <p><strong>Price:</strong> @Model.Price.ToString("C2")</p>
</div>

<div>
    <p><strong>Description:</strong> @Model.BookDescription</p>
    
</div>

<a asp-action="ListBook" asp-controller="Book" class="btn btn-primary">Back to List</a>